<div class="max-h-screen flex items-center justify-center">
  <div class="w-full lg:w-2/3 hidden lg:block relative">
    <img src="/assets/images/register.png" alt="Register" class="w-full h-screen object-cover">
  </div>

  <div class="w-full lg:w-1/3 p-8 lg:px-16 flex flex-col justify-center">
    <div class="mb-8">
      <h2 class="text-3xl font-bold text-primary">Create New Account</h2>
      <p class="text-gray-500">Please fill with your data</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700" for="name">Full Name<span class="text-red-500">*</span></label>
        <input type="text" id="fullName" formControlName="fullName" class="w-full border border-primary p-2 rounded-lg mt-1" placeholder="Full Name">
        <div *ngIf="f['fullName'].touched && f['fullName'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['fullName'].errors?.['required']">Full name should not be blank</span>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="email">Email Address<span class="text-red-500">*</span></label>
        <input type="email" id="email" formControlName="email" class="w-full border border-primary p-2 rounded-lg mt-1" placeholder="Email Address">
        <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['email'].errors?.['required']">Email should not be blank</span>
          <span *ngIf="f['email'].errors?.['email']">Email should be valid</span>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="password">Password<span class="text-red-500">*</span></label>
        <input type="password" id="password" formControlName="password" class="w-full border border-primary p-2 rounded-lg mt-1" placeholder="Password">
        <div *ngIf="f['password'].touched && f['password'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['password'].errors?.['required']">Password should not be blank</span>
          <span *ngIf="f['password'].errors?.['minlength']">Password should have at least 8 characters</span>
        </div>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700" for="password_confirmation">Confirm Password<span class="text-red-500">*</span></label>
        <input type="password" id="password_confirmation" formControlName="password_confirmation" class="w-full border border-primary p-2 rounded-lg mt-1" placeholder="Confirm Password">
        <div *ngIf="f['password_confirmation'].touched && f['password_confirmation'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['password_confirmation'].errors?.['required']">Please confirm your password</span>
        </div>
        <div *ngIf="registerForm.errors?.['passwordMismatch'] && (f['password_confirmation'].touched || f['password'].touched)" class="text-red-500 text-sm">
          <span>Passwords do not match</span>
        </div>
      </div>
      <div class="mb-6">
        <label class="flex items-center">
          <input type="checkbox" formControlName="agreeTerms" class="form-checkbox h-4 w-4 rounded-md text-primary cursor-pointer">
          <span class="ml-2">I agree to the Terms & Conditions<span class="text-red-500">*</span></span>
        </label>
        <div *ngIf="f['agreeTerms'].touched && f['agreeTerms'].invalid" class="text-red-500 text-sm">
          <span *ngIf="registerForm.hasError('required', 'agreeTerms')">You must agree to the terms</span>
        </div>
      </div>
      <div class="mb-6">
        <button type="submit" 
          [disabled]="registerForm.invalid || registerForm.errors?.['passwordMismatch']" 
          class="w-full bg-primary text-white p-2 rounded-lg cursor-pointer hover:bg-[#10213d]"
        >
          Register
        </button>
      </div>
    </form>
    <p class="text-gray-500">
      Already have an account? <a href="/auth/login" class="text-blue-600 hover:underline">Login Here</a>
    </p>
</div>