<div class="container mx-auto px-4 py-8">
    <div class="mb-8 flex items-center">
        <ng-icon name="heroChevronLeft"></ng-icon>
        <a href="/admin/rooms" class="cursor-pointer">Back</a>
    </div>
    <h1 class="text-2xl font-bold text-gray-800 mb-6">
      {{ action }}
    </h1>
    <form class="space-y-6" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-4">
          <div class="bg-gray-100 p-4 rounded-lg">
            <div class="bg-gray-300 w-32 h-32 mx-auto mb-2"></div>
            <p class="text-center text-sm text-gray-600">Upload Photo</p>
          </div>
          <div>
            <p class="font-medium mb-2">Select Facility</p>
            <div class="space-y-2">
              <label *ngFor="let facility of roomFacility" class="flex items-center space-x-2">
                <input 
                  type="checkbox" 
                  class="form-checkbox"
                  [disabled]="action === 'Room Details'" 
                  [checked]="action === 'Room Details' || action === 'Edit Room' ? facilityList.includes(facility) : roomForm.value.facility.includes(facility)"
                  (change)="onFacilityChange(facility, $event)"
                />
                <span>{{ facility }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Room Number</label>
            <input formControlName="roomNumber" type="text" id="roomNumber" name="roomNumber" placeholder="Enter room number" [readonly]="action === 'Room Details' ? true : null" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['roomNumber'].dirty && roomForm.hasError('required', 'roomNumber')">
              Room number is should not be blank
            </span>
          </div>
          <div>
            <label for="room-type" class="block text-sm font-medium text-gray-700">Room Type</label>
            <select
              id="room-type"
              name="room-type"
              formControlName="roomType"
              [disabled]="action === 'Room Details'"
              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            >
              <option *ngFor="let type of roomTypes" [value]="type">
                {{ type }}
              </option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['roomType'].dirty && roomForm.hasError('required', 'roomType')">
              Select the room type
            </span>
          </div>
          <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
            <input formControlName="price" type="text" id="price" name="price" placeholder="Enter price per night" [readonly]="action === 'Room Details' ? true : null" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['price'].dirty && roomForm.hasError('required', 'price')">
              Price is should not be blank
            </span>
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['price'].dirty && roomForm.hasError('pattern', 'price')">
              Price only accept number
            </span>
          </div>
          <div>
            <label for="capacity" class="block text-sm font-medium text-gray-700">Capacity</label>
            <input formControlName="capacity" type="text" id="capacity" name="capacity" placeholder="Enter room capacity" [readonly]="action === 'Room Details' ? true : null" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['capacity'].dirty && roomForm.hasError('required', 'capacity')">
              Capacity is should not be blank
            </span>
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['capacity'].dirty && roomForm.hasError('pattern', 'capacity')">
              Capacity only accept number
            </span>
          </div>
          <div>
            <label for="room-status" class="block text-sm font-medium text-gray-700">Status</label>
            <select
              id="room-status"
              name="room-status"
              [disabled]="action === 'Room Details'"
              formControlName="status"
              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            >
              <option *ngFor="let status of roomStatus" [ngValue]="status">
                {{ status }}
              </option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="roomForm.controls['status'].dirty && roomForm.hasError('required', 'status')">
              Select the room status
            </span>
          </div>
        </div>
      </div>
      <div class="flex justify-center space-x-3">
        <button *ngIf="action !== 'Room Details'" (click)="onClose()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Cancel</button>
        <button *ngIf="action !== 'Room Details'" type="submit" class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Save</button>
      </div>
    </form>
  </div>