.toast-container {
    position: fixed;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; // Space between toasts
    padding: 16px;
  }
  
  .toast {
    display: flex;
    align-items: center;
    max-width: 600px;
    padding: 10px;
    // border-color: #172E54;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
  
    &.toast-success {
    border: 1px solid #0E9F6E;
      color: #0E9F6E;
    }
  
    &.toast-error {
    border: 1px solid #F05252;
      color: #F05252;
    }
  
    &.toast-warning {
        border: 1px solid #3F83F8;
      color: #3F83F8;
    }
  
    .toast-icon {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }
  
    .toast-message {
      flex-grow: 1;
    }
  
    .toast-close {
      background: none;
      border: none;
      cursor: pointer;
      color: #ffffff;
      transition: color 0.2s ease;
  
      &:hover {
        color: #ffffff;
      }
    }
  }