<div class="container mx-auto px-4 py-8">
  <div class="mb-5 flex justify-between items-end">
    <div>
      <h1 class="text-2xl font-bold text-primary mb-2">Manage Reservations</h1>
      <p class="text-sm text-gray-600">Manage your bookings or create a new reservation.</p>
    </div>
    <div class="flex space-x-2">
      <button (click)="createReservation()"
      class="h-fit bg-primary text-white p-2 rounded-lg border border-transparent hover:bg-white hover:border-primary hover:text-primary">
        Create Reservation
      </button>
      <button (click)="exportData()" class="h-fit bg-primary text-white p-2 rounded-lg border border-transparent hover:bg-white hover:border-primary hover:text-primary">
        Export Data
      </button>
    </div>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <!-- Dynamic table headers for Reservations -->
          <th *ngFor="let header of ['No', 'Room Number', 'Guest', 'Reservation Date', 'Check-in', 'Check-out', 'Status', '']"
              class="px-6 py-3 text-left text-sm font-medium text-primary tracking-wider">
              {{ header }}
              <ng-icon *ngIf="header !== 'No' && header !== ''" name="heroChevronUpDown"></ng-icon>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- Iterate over reservations data -->
        <tr *ngFor="let reservation of reservations; let i = index" class="hover:bg-gray-50">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-primary">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">{{ reservation.room.roomNumber }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">{{ reservation.userId }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">{{ reservation.reservationDate | date }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">{{ reservation.checkInDate | date }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">{{ reservation.checkOutDate | date }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-primary">
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                  [ngClass]="{
                    'bg-green-100 text-green-800': reservation.status === 'CONFIRMED',
                    'bg-red-100 text-red-800': reservation.status !== 'CONFIRMED'
                  }">
              {{ reservation.status }}
            </span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <button (click)="toggleOptions($event, reservation)" class="text-gray-400 hover:text-gray-500">
              <ng-icon name="heroEllipsisVertical" class="h-5 w-5"></ng-icon>
            </button>
            <div *ngIf="selectedReservation === reservation && showOptions" class="absolute bg-white border border-gray-300 shadow-lg rounded-lg mt-2">
              <ul class="list-none p-2 m-0">
                <li (click)="editRsvp(reservation)" class="p-2 cursor-pointer hover:bg-gray-100">Edit</li>
                <li (click)="viewRsvp(reservation)" class="p-2 cursor-pointer hover:bg-gray-100">Detail</li>
                <li (click)="deleteRsvp(reservation)" class="p-2 cursor-pointer hover:bg-gray-100">Delete</li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div *ngIf="totalPages > 1" class="mt-4 flex justify-center">
    <button class="px-4 py-2 mx-2 bg-gray-200" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <button class="px-4 py-2 mx-2 bg-gray-200" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>
