<div class="container mx-auto px-4 py-8">
  <div class="mb-8 flex items-center">
    <ng-icon name="heroChevronLeft"></ng-icon>
    <a href="/admin/reservation" class="cursor-pointer">Back</a>
  </div>
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold text-primary">{{ action }}</h1>
    </div>


    <form class="space-y-6" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- Card for Hotel Info -->
      <div class="bg-white shadow rounded-lg p-6 lg:col-span-2">
        <div class="flex justify-between items-start">
          <div>
            <h3 class="text-lg font-semibold">Lakeside Hotel BITWAY</h3>
              <div class="flex items-center">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let index = index">
                  <ng-icon name="heroStarSolid" class="h-5 w-5 text-yellow-500"></ng-icon>
                </ng-container>
                <span class="ml-2 text-sm text-gray-600">5/5 (1,234 reviews)</span>
              </div>
          </div>
          <span *ngIf="reservation?.status === 'CONFIRMED'" class="bg-green-100 text-green-800 text-md font-medium px-2 py-1 rounded">Confirmed</span>
          <span *ngIf="reservation?.status === 'CANCELED'" class="bg-red-100 text-red-800 text-md font-medium px-2 py-1 rounded">Canceled</span>
        </div>
        <div class="mt-4">
          <div class="flex items-center text-sm text-gray-500 mb-4">
            <ng-icon name="heroMapPin"></ng-icon>
            <span>123 Ocean Drive, Beachtown, BT 12345</span>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="flex items-center space-x-2">
              <div class="text-primary">
                <ng-icon name="heroCalendarDays" class="mr-2"></ng-icon>
                <label for="checkInDate">Check-in</label>
                <mat-form-field class="cursor-pointer" *ngIf="action !== 'Reservation Details'">
                  <input
                    placeholder="Check-in"
                    formControlName="checkInDate"
                    [min]="checkInMinDate"
                    matInput
                    [matDatepicker]="pickerCheckIn"
                    readonly
                    (focus)="pickerCheckIn.open()"
                    (change)="onDateChange()">
                  <mat-datepicker-toggle matIconSuffix [for]="pickerCheckIn"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCheckIn></mat-datepicker>
                </mat-form-field>
                <p *ngIf="action === 'Reservation Details'" class="text-sm text-gray-500"> {{ reservation?.checkInDate | date:'fullDate'}}</p>
              </div>
            </div>
            <div class="flex items-center space-x-2">
              <i class="text-gray-400"></i>
              <div>
                <ng-icon name="heroCalendarDays" class="mr-2"></ng-icon>
                <label for="checkOutDate">Check-out</label>
                <mat-form-field class="cursor-pointer" *ngIf="action !== 'Reservation Details'">
                  <input
                  placeholder="Check-out"
                  formControlName="checkOutDate" 
                  [min]="reservationForm.get('checkInDate')?.value"
                  matInput
                  [matDatepicker]="pickerCheckOut"
                  readonly
                  (focus)="pickerCheckOut.open()"
                  (change)="onDateChange()">
                  <mat-datepicker-toggle matIconSuffix [for]="pickerCheckOut"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCheckOut></mat-datepicker>
                </mat-form-field>
                <p *ngIf="action === 'Reservation Details'" class="text-sm text-gray-500">{{ reservation?.checkOutDate | date:'fullDate'}}</p>
              </div>
            </div>
            <div *ngIf="action === 'Create Reservation'"> 
              <div class="items-center">
                <ng-icon name="heroInboxStack" class="mr-2"></ng-icon>
                <label class="text-primary" for="status">Status</label>
                <select
                  id="status"
                  name="status"
                  formControlName="status"
                  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  >
                  <option value="" disabled>Select status</option>
                  <option *ngFor="let status of rsvpStatus" [ngValue]="status">
                    {{ status }}
                  </option>
                </select>
                </div>
            </div>
            <div *ngIf="action !== 'Create Reservation'" class="flex items-center space-x-2">
              <i class="w-5 h-5 text-gray-400"></i>
              <div>
                <ng-icon name="heroUserSolid" class="h-5 w-5"></ng-icon>
                Guests
                <p class="text-sm text-gray-500">{{ room?.capacity }} Adults</p>
              </div>
            </div>
            <div *ngIf="action !== 'Create Reservation'" class="flex items-center space-x-2">
              <i class="w-5 h-5 text-gray-400"></i>
              <div>
                <ng-icon name="heroCreditCard" class="h-5 w-5"></ng-icon>
                Total Price
                <p class="text-sm text-gray-500">{{reservation?.amount | currency:'Rp':'symbol':'1.0-0' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Guest Information -->
      <div class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Guest Information</h2>
        <div class="space-y-4">
          <div>
            <label for="fullName" class="block text-md font-medium text-gray-700">Full Name</label>
            <input type="text" id="fullName" class="mt-1 block w-full" formControlName="customerFullName" [value]="user?.fullName" [readonly]="action === 'Reservation Details'"  />
          </div>
          <div>
            <label for="email" class="block text-md font-medium text-gray-700">Email</label>
            <input type="email" id="email" class="mt-1 block w-full" formControlName="customerEmail" [value]="user?.email" [readonly]="action === 'Reservation Details'"  />
          </div>
          <div>
            <label for="phone" class="block text-md font-medium text-gray-700">Phone</label>
            <input type="tel" id="phone" class="mt-1 block w-full" formControlName="customerPhone" [value]="user?.phone" [readonly]="action === 'Reservation Details'"  />
          </div>
          <div>
            <label for="address" class="block text-md font-medium text-gray-700">Address</label>
            <textarea id="address" class="mt-1 block w-full" formControlName="customerAddress" rows="4" [value]="user?.address" [readonly]="action === 'Reservation Details'" ></textarea>
          </div>
        </div>
      </div>

      <!-- Room Details -->
      <div class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Room Details</h2>
        <div *ngIf="action === 'Create Reservation'">
          <label for="roomId" class="block text-md font-medium text-gray-700">Select Room</label>
        <select
          id="roomId"
          name="roomId"
          formControlName="roomId"
          (change)="onRoomChange($event)"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        >
          <option value="" disabled>Select room</option>
          <option *ngFor="let room of rooms" [value]="room.id">
            {{ room.roomNumber }} - {{ room.roomType }}
          </option>
        </select>
        </div>

        <div *ngIf="selectedRoom">
          <img [src]="selectedRoom.photoSafeUrl" alt="{{ selectedRoom.roomNumber }}" class="mt-2 rounded-md" />
        </div>

        <h3 *ngIf="action !== 'Create Reservation'" class="text-md font-semibold mt-4 mb-4">Room Number</h3>
        <p *ngIf="action !== 'Create Reservation'" class="text-md mt-4 mb-4">{{ room?.roomNumber }}</p>
        <h3 *ngIf="action !== 'Create Reservation'" class="text-md font-semibold mt-4 mb-4">Room Type</h3>
        <p *ngIf="action !== 'Create Reservation'" class="text-md mt-4 mb-4">{{ room?.roomType }}</p>
        <h3 *ngIf="action !== 'Create Reservation'" class="text-md font-semibold mt-4 mb-4">Price per night</h3>
        <p *ngIf="action !== 'Create Reservation'" class="text-md mt-4 mb-4">{{ room?.price | currency:'Rp':'symbol':'1.0-0'}}</p>
        <h3 *ngIf="action !== 'Create Reservation'" class="text-md font-semibold mt-4 mb-4">Facility</h3>
          <div *ngIf="action !== 'Create Reservation'" class="grid grid-cols-2 gap-4">
            <div *ngFor="let fclt of facilityList">
              <div class="flex items-center"><svg class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg> {{fclt}}</div>
            </div>
          </div>
      </div>

      <!-- Payment Information -->
      <div class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Payment Information</h2>
        <div class="space-y-2 mb-4">
          <p class="flex justify-between">
            <span>Room Charge</span>
            <span *ngIf="action === 'Create Reservation'">{{ totalAmount | currency:'Rp':'symbol':'1.0-0'}}</span>
            <span *ngIf="action !== 'Create Reservation'">{{ reservation?.amount | currency:'Rp':'symbol':'1.0-0'}}</span>
          </p>
          <p class="flex justify-between">
            <span>Taxes and Fees</span>
            <span>Rp0</span>
          </p>
          <hr class="my-2">
          <p class="flex justify-between font-semibold">
            <span class="text-lg">Total</span>
            <span *ngIf="action === 'Create Reservation'">{{ totalAmount | currency:'Rp':'symbol':'1.0-0'}}</span>
            <span *ngIf="action !== 'Create Reservation'">{{ reservation?.amount | currency:'Rp':'symbol':'1.0-0'}}</span>
          </p>
        </div>
        <div class="space-y-2">
          <div>
            <label for="accountNumber" class="block text-md font-medium text-gray-700">Account Number</label>
            <input type="number" id="accountNumber" class="mt-1 block w-full" formControlName="accountNumber" [value]="payment?.accountNumber" [readonly]="action === 'Reservation Details'"/>
          </div>
          <div>
            <label for="accountName" class="block text-md font-medium text-gray-700">Account Name</label>
            <input type="text" id="accountName" class="mt-1 block w-full" formControlName="accountName" [value]="payment?.accountName" [readonly]="action === 'Reservation Details'"/>
          </div>
          <div>
            <label for="amount" class="block text-md font-medium text-gray-700">Amount Paid</label>
            <input type="number" id="amount" class="mt-1 block w-full" formControlName="amount" [value]="payment?.amount" [readonly]="action === 'Reservation Details'"/>
          </div>
        </div>
      </div>
      
      <!-- Reservation History -->
      <div *ngIf="action === 'Reservation Details'" class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Reservation History</h2>
        <ul class="space-y-2 text-sm">
          <li><span class="font-medium">Last Modified Date: </span> {{ reservation?.lastModifiedDate }}</li>
          <li><span class="font-medium">Last Modified By: </span>{{ reservation?.lastModifiedBy }}</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-end gap-4 mt-4">
      <button type="button" (click)="onClose()" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-200">Cancel</button>
      <button type="button" (click)="onSubmit()" class="px-4 py-2 cursor-pointer bg-gray-800 text-white rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Submit</button>
    </div>
    </form>
  </div>
</div>
