<div class="container mx-auto px-4 py-8">
  <div class="mb-8 flex items-center">
    <ng-icon name="heroChevronLeft"></ng-icon>
    <a href="/" class="cursor-pointer">Back</a>
  </div>
  <div class="px-56">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="md:col-span-1 bg-white shadow-md rounded-lg overflow-hidden">
      <div class="p-6">
        <div class="flex flex-col items-center ">
          <div class="w-32 h-32 mb-4">
            <img src="/assets/images/default-profile.png" alt="Light" class="w-full h-full object-cover rounded-full" />
          </div>
          <button class="w-full mb-4 border border-gray-300 rounded-lg p-2 text-gray-700 hover:bg-gray-100">Upload a Photo</button>
        </div>
      </div>
    </div>
    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="md:col-span-2 bg-white shadow-md rounded-lg overflow-hidden p-6 space-y-4">
      <!-- <h2 class="text-2xl font-bold text-gray-800 mb-6">
        {{ isEditMode ? 'Edit' : isViewMode ? 'Details' : 'Create' }} User
      </h2> -->
      <h1 class="text-2xl font-semibold text-primary">Hello, {{ user?.fullName }}</h1>
      <p class="text-gray-500 mb-6">Joined in {{ user?.createdDate?.substring(0, 4) }}</p>

      <div>
        <label for="email" class="block text-sm font-medium">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Email"
          class="mt-1 block w-full border-gray-300 rounded-lg p-2" />
        <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['email'].errors?.['required']">Email should not be blank</span>
          <span *ngIf="f['email'].errors?.['email']">Email should be valid</span>
        </div>
      </div>

      <div>
        <label for="fullName" class="block text-sm font-medium">Full Name</label>
        <input type="text" id="fullName" formControlName="fullName" placeholder="Full Name" 
          class="mt-1 block w-full border-gray-300 rounded-lg p-2" />
        <div *ngIf="f['fullName'].touched && f['fullName'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['fullName'].errors?.['required']">Full name should not be blank</span>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label for="phone" class="block text-sm font-medium">Phone</label>
          <input type="tel" id="phone" formControlName="phone" placeholder="Phone" 
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200">
          <div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-red-500 text-sm">
            <span *ngIf="f['phone'].errors?.['required']">Phone number should not be blank</span>
            <span *ngIf="f['phone'].errors?.['pattern']">Phone number should be valid Indonesian format (+62)</span>
          </div>
        </div>
    
        <div>
          <label for="dateOfBirth" class="block text-sm font-medium">Date of Birth</label>
          <input type="date" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Date or Birth" 
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200">
          <div *ngIf="f['dateOfBirth'].touched && f['dateOfBirth'].invalid" class="text-red-500 text-sm">
            <span *ngIf="f['dateOfBirth'].errors?.['required']">Date of birth should not be blank</span>
          </div>
        </div>
      </div>

      <div>
        <label for="address" class="block text-sm font-medium">Address</label>
        <textarea type="text" id="address" formControlName="address" placeholder="address"
          class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200"></textarea>
        <div *ngIf="f['address'].touched && f['address'].invalid" class="text-red-500 text-sm">
          <span *ngIf="f['address'].errors?.['required']">Address should not be blank</span>
        </div>
      </div>

      <div class="flex justify-center space-x-4" *ngIf="isEditMode || !isViewMode">
        <button type="button" class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md shadow-sm" (click)="onCancel()">Cancel</button>
        <button type="submit" class="px-4 py-2 bg-primary text-white rounded-md shadow-sm">Save</button>
      </div>
    </form>
  </div>
</div>
</div>
