<div class="flex flex-col">
  <div class="h-[40vh] flex items-center justify-center bg-cover" style="background-image: url('/assets/images/home.png');">
    <div class="">
      <h1 class="text-4xl font-bold text-center text-primary mb-6">Welcome to BITWAY</h1>
      <p class="text-center text-lg text-primary mb-8">Book your perfect stay at unbeatable prices, designed for your budget and comfort!</p>
    </div>
    <form [formGroup]="searchRoomForm" (ngSubmit)="onSubmit()" class="bg-white rounded-md p-5 drop-shadow-md flex flex-row items-center space-x-5 absolute top-[40%] left-1/2 transform -translate-x-1/2">
      <div class="flex flex-col space-y-2">
        <label class="text-primary" for="checkIn">Check-in</label>
        <mat-form-field class="cursor-pointer">
          <input
            placeholder="Check-in Date"
            formControlName="checkIn"
            [min]="checkInMinDate"
            matInput
            [matDatepicker]="pickerCheckIn"
            readonly
            (focus)="pickerCheckIn.open()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerCheckIn"></mat-datepicker-toggle>
          <mat-datepicker #pickerCheckIn></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex flex-col space-y-2">
        <label class="text-primary" for="checkOut">Check-out</label>
        <mat-form-field class="cursor-pointer">
          <input
            placeholder="Check-out Date"
            formControlName="checkOut" 
            [min]="checkOutMinDate"
            matInput
            [matDatepicker]="pickerCheckOut"
            readonly
            (focus)="pickerCheckOut.open()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerCheckOut"></mat-datepicker-toggle>
          <mat-datepicker #pickerCheckOut></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex flex-col space-y-2">
        <label class="text-primary" for="guest">Guest</label>
        <mat-form-field>
          <input matInput type="number" formControlName="guest" [min]="1" [max]="5"  placeholder="Guest number">
        </mat-form-field>
      </div>
      <div class="flex flex-col items-end justify-end">
        <button type="submit" class="bg-primary text-white p-3 rounded-md w-36" [disabled]="!searchRoomForm.valid">Search</button>
      </div>
    </form>
  </div>
  <div class="px-20 pt-28 space-y-10">
    <div class="flex flex-row space-x-5 justify-center">
      <ng-icon name="bootstrapFacebook"></ng-icon>
      <ng-icon name="bootstrapTwitterX"></ng-icon>
      <ng-icon name="bootstrapInstagram"></ng-icon>
      <ng-icon name="bootstrapYoutube"></ng-icon>
      <ng-icon name="bootstrapLinkedin"></ng-icon>
    </div>
    <p class="text-sm text-center text-neutral-300 ">*Prices start from, based on a one night stay in a standard double room for two guests. Supplementary services, breakfast and tourist/city tax are not included. Price observed on all.accor.com within the past 24 hours, for a one night stay within the next eight days, starting tomorrow. Price subject to the hotel conditions, period and availability. Depending on the country, these prices may not include taxes, may include VAT only or may include all taxes (VAT and tourist/city tax). When prices do not include all taxes, the relevant taxes (VAT and tourist/city tax) will be stated in the forthcoming stages of the reservation process. The price is only guaranteed at the time of reservation.</p>
  </div>
</div>