<div class="container mx-auto px-4 py-8">
    <div class="mb-8 flex items-center">
        <ng-icon name="heroChevronLeft"></ng-icon>
        <a href="/rooms" class="cursor-pointer" (click)="goBack()">Back</a>
    </div>
    <div class="mb-5 flex justify-between items-end">
        <div>
          <h1 class="text-2xl font-bold text-primary mb-2">Room Details</h1>
        </div>
        <div class="flex space-x-2">
          <button (click)="bookRoom()" 
            class="h-fit bg-primary text-white p-2 rounded-lg border border-transparent hover:bg-white hover:border-primary hover:text-primary">
            Book this Room
          </button>
        </div>
    </div>
    <form class="space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="space-y-4">
                <div class="bg-gray-100 p-4 rounded-lg">
                    <div class="bg-gray-300 w-32 h-32 mx-auto mb-2"></div>
                    <p class="text-center text-sm text-gray-600">Photo</p>
                </div>
                
                <div *ngIf="room">
                    <p class="font-medium mb-2">Facility</p>
                    <div *ngFor="let facility of room.facility">
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" class="form-checkbox" disabled [checked]="true">
                        <span>{{ facility }}</span>
                      </label>
                    </div>
                </div>
            </div>
            <div class="space-y-4">
                <div>
                    <label for="roomNumber" class="block text-sm font-medium text-gray-700">Room Number</label>
                    <input
                        type="text"
                        id="roomNumber"
                        name="roomNumber"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                        [value]="room?.roomNumber"
                        readonly
                    />
                </div>
                
                <div>
                    <label for="roomType" class="block text-sm font-medium text-gray-700">Room Type</label>
                    <input
                        type="text"
                        id="roomType"
                        name="roomType"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                        [value]="room?.roomType"
                        readonly
                    />
                </div>
                
                <div>
                    <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                    <input
                        type="text"
                        id="price"
                        name="price"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                        [value]="room?.price"
                        readonly
                    />
                </div>
                
                <div>
                    <label for="capacity" class="block text-sm font-medium text-gray-700">Capacity</label>
                    <input
                        type="text"
                        id="capacity"
                        name="capacity"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                        [value]="room?.capacity"
                        readonly
                    />
                </div>
                
                <div>
                    <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
                    <input
                        id="status"
                        name="status"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                        [value]="room?.status"
                        readonly
                    />
                </div>
            </div>
        </div>
    </form>
</div>
